/* GENERAL */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif !important;
    background: var(--background);
}

main {
    flex: 1;
}

:root {
    --primary: #436669;
    --secondary: #5F5980;
    --accent: #C3ACCE;
    --textcolor: #2E2532;
    --background: #f9f9f9;
}

/* HEADER */

header {
    width: 100%;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2.5rem;
    padding-bottom: 0.5rem;
}

.title {
    color: var(--textcolor);
    font-family: 'Rubik', sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;
    margin: 0 0;
}

/* NAVBAR */

.navbar {
    padding: 0.5rem 0;
}

.selected-nav {
    border-radius: 1rem;
    background-color: var(--secondary);
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    background-color: var(--primary);
    transition: background-color 0.3s, color 0.3s;
}

.navbar a {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
    color: var(--background);
    font-size: 0.85rem;
    font-weight: bold;
    transition: background-color 0.3s, border-radius 0.3s, transform 0.3s;
}

.navbar a:hover,
.navbar a:focus {
    box-shadow: inset 0rem 0rem 0rem .2rem black;
}

.navbar a:first-child {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.navbar a:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.navbar li:first-child {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.navbar li:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

/* CONTENT */

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.page-description {
    text-align: center;
}

/* FOOTER */

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: white;
}

footer p {
    display: block;
    margin-bottom: 1rem;
}

/* HOME PAGE */

.image-area {
    background-image: url('./assets/unc-images/unc-image1.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    margin: auto;
    transition: opacity 1s ease-in-out;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.credit {
    margin-bottom: 0;
    background-color: white;
    border-radius: 0.5rem;
    font-size: x-small;
    padding: 0.1rem;
    margin: 0.2rem;
}

.get-started-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: var(--secondary);
    color: var(--background);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: .5rem;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.get-started-button:hover,
.get-started-button:focus {
    background-color: var(--accent);
    color: var(--textcolor);
    transform: scale(1.05);
}

.gradient-text {
    background: linear-gradient(to right, var(--textcolor), var(--secondary));
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

h2 {
    margin-top: 0;
}

.larger-text {
    font-size: larger;
}

/* ABOUT PAGE */

.image-area-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.profile-card {
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1rem;
    max-width: 75%;
}

.profile-card img {
    max-width: 100%;
    border-radius: .5rem;
}

.profile-card h3 {
    margin-top: 0.5rem;
    color: var(--textcolor);
}

.profile-card p {
    color: var(--textcolor);
    font-size: 0.9rem;
}

/* FIND FOOD PAGE */

.dorm-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.dorm-button {
    background-color: var(--secondary);
    color: var(--background);
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
}

.dorm-button:hover,
.dorm-button:focus {
    background-color: var(--accent);
    color: var(--textcolor);
    transform: scale(1.05);
}

.restaurant-list {
    display: flex;
    max-height: 55vh;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 75%;
    align-self: center;
    overflow-y: scroll;
}

.restaurant-button {
    max-width: 100%;
    background-color: var(--secondary);
    color: var(--background);
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
}

.restaurant-button:hover,
.restaurant-button:focus {
    background-color: var(--accent);
    color: var(--textcolor);
    transform: scale(1.05);
}

.dorm-grid a {
    text-decoration: none;
    text-align: center;
}

.restaurant-list a {
    text-decoration: none;
    text-align: center;
}

.dorm-image {
    max-width: 50%;
    border-radius: .5rem;
}

.no-bottom-margin {
    margin-bottom: 0;
    padding-bottom: 0;
}

.dorm-credit {
    font-size: x-small;
    text-align: center;
}

iframe {
    border-radius: 1rem;
    max-width: 90%;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTACT PAGE */

.slider {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.slider input[type="radio"] {
    display: none;
}

.slider label {
    background-color: var(--background);
    color: var(--textcolor);
    padding: 0.75rem 1.5rem;
    border-radius: 1rem;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    border: 2px solid black;
    width: 33%;
}

.slider label {
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.3s;
}

.slider input[type="radio"]:not(:checked)+label:hover,
.slider input[type="radio"]:not(:checked)+label:focus {
    transform: scale(1.05);
    cursor: pointer;
}

.slider input[type="radio"]:checked+label {
    background-color: var(--accent);
    color: black;
    cursor: default;
    transform: none;
}

#dynamicText {
    text-align: center;
    color: var(--textcolor);
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.form-option {
    padding: 1rem;
    border-radius: 1rem;
    width: 80%;
    max-width: 95%;
    align-self: center;
    justify-self: center;
}

.form-option textarea {
    font-family: 'Nunito', sans-serif;
    padding: 0.75rem;
    border: 1px solid var(--primary);
    border-radius: 0.5rem;
    font-size: 1rem;
    resize: vertical;
}

.form-option h3 {
    color: var(--textcolor);
    text-align: center;
}

.form-option form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-option input[type="text"] {
    padding: 0.75rem;
    border: 1px solid var(--primary);
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}

.form-option button[type="submit"] {
    font-family: 'Nunito', sans-serif;
    background-color: var(--secondary);
    color: var(--background);
    padding: 0.75rem 1.5rem;
    border-radius: 1rem;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    border: none;
}

.form-option button[type="submit"]:hover,
.form-option button[type="submit"]:focus {
    background-color: var(--accent);
    color: var(--textcolor);
    border: none;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 2rem;
        width: 90%;
        align-self: center;
    }

    .image-area-about {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .navbar a {
        font-size: 1.25rem;
    }

    .slider {
        flex-direction: row;
    }
}